Reset & Base * {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* background-color: #f4f6f8; */
  color: #333;
}

/* Profile Section */
.profile {
  padding-top: 20px;
  padding-bottom: 20px;
}

.profile-info-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.name-follow-btn {
  display: flex;
}

.follow-btn {
  background-color: #3b82f6;
  height: fit-content;
  padding: 6px 16px;
  font-size: 14px;
  outline: none;
  border: none;
  border-radius: 6px;
  margin-left: 70px;
  cursor: pointer;
}

.profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #3b82f6;
}

.profile-info h2 {
  margin: 0 0 8px;
}

.profile-info p {
  margin: 0;
  color: #666;
}

.profile-stats {
  display: flex;
  gap: 20px;
  margin-top: 0.5rem;
}

.profile-stats span {
  font-size: 0.9rem;
  color: #555;
}

.creater-all-btn {
  border-bottom: 2px solid #3b82f6;
  padding-bottom: 8px;
  margin: 0 0 20px;
  gap: 20px;
  display: flex;
}


.post_hr_line{
  border-bottom: 2px solid #3b82f6;
  padding-bottom: 8px;
  margin: 0 0 20px;
  gap: 20px;
  display: flex;
  align-items: center;
}

.upload-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 25px;
  border: 2px solid #333;
  color: #333;
  cursor: pointer;
  border-radius: 50%;
}
